:root {
  --primary-background-color: teal;
  --primary-color: black;
}

* {
  box-sizing: border-box;
}

.ellipsis {
  width: 300px;
  background-color: var(--primary-background-color);
}

.ellipsis p {
  width: 300px;
  color: var(--primary-color);
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

section{
  background-color: burlywood;
  width: 800px;
  height: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  
}