:root{
    --primary-background-color: teal;
    --primary-color: black;
}

div{
    width:300px ;
    background-color: var(--primary-background-color);
    
}

div p{
    width: 300px;
    color: var(--primary-color);
    font-size: 20px;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

